In [26]:
# 读取KDD Cup网络入侵数据kddcup.data_10_percent
import pandas as pd

In [27]:
data=pd.read_csv('/Users/mac/Desktop/数据挖掘实验/实验七/KddCUP数据集/kddcup.data_10_percent.csv',header=None)

In [28]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,normal.
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal.
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
3,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal.

In [29]:
# 将非数值字段转码
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
for i in range(1,4):
    data[i]=le.fit_transform(data[i])
data.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,1,22,9,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,normal.
1,0,1,22,9,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal.
2,0,1,22,9,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
3,0,1,22,9,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
4,0,1,22,9,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal.

In [30]:
# 要求将类别标签中各种攻击类型，修改为“异常”类别，数据集转换为“正常”和“异常”两个类别。
# 1.将类别标签中各种攻击类型，修改为“异常”类别

data[41]=data[41].replace(['back.','buffer_overflow.','ftp_write.','guess_passwd.','imap.','ipsweep.','land.','loadmodule.','multihop.','neptune.','nmap.','perl.','phf.','pod.','portsweep.','rootkit.','satan.','smurf.','spy.','teardrop.','warezclient.','warezmaster.'],'Abnormal')
data[41]=data[41].replace(['normal.'],'normal')
data[41].value_counts()

Abnormal    396743
normal       97278
Name: 41, dtype: int64

In [31]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,1,22,9,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,normal
1,0,1,22,9,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal
2,0,1,22,9,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal
3,0,1,22,9,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal
4,0,1,22,9,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal

In [32]:
# 数据集转换为“正常”和“异常”两个类别。
data[41]=data[41].replace(['Abnormal'],'1')
data[41]=data[41].replace(['normal'],'0')
data[41].value_counts()

1    396743
0     97278
Name: 41, dtype: int64

In [33]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,1,22,9,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,0
1,0,1,22,9,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,0
2,0,1,22,9,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0
3,0,1,22,9,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0
4,0,1,22,9,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,0

加载数据到变量X中，X=预处理并去除类别标签后的数据。类别标签仅用于模型评估

In [35]:
# 加载数据到变量X中，X=预处理并去除类别标签后的数据。类别标签仅用于模型评估
X=data.drop([41],axis=1)
y=data[41]

In [36]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,0,1,22,9,181,5450,0,0,0,0,...,9,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0
1,0,1,22,9,239,486,0,0,0,0,...,19,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0
2,0,1,22,9,235,1337,0,0,0,0,...,29,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0
3,0,1,22,9,219,1337,0,0,0,0,...,39,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0
4,0,1,22,9,217,2032,0,0,0,0,...,49,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0

In [37]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: 41, dtype: object

分别使用Isolation Forest算法和Local Outlier Factor算法，训练模型，并输出预测结果y_pred，

In [38]:
# 分别使用Isolation Forest算法和Local Outlier Factor算法，训练模型，并输出预测结果y_pred，
# 评估模型性能，输出模型的精度、召回率、F1值、ROC曲线、AUC值等评价指标。

# 使用Isolation Forest算法
from sklearn.ensemble import IsolationForest
from sklearn.metrics import classification_report,roc_curve,auc

# 训练模型
clf=IsolationForest(max_samples=100,random_state=42)
clf.fit(X)

IsolationForest(max_samples=100, random_state=42)

In [39]:
# 预测结果
y_pred=clf.predict(X)
y_pred

array([-1,  1,  1, ..., -1, -1, -1])

In [40]:
# 看y_pred的数据分布
pd.Series(y_pred).value_counts()

 1    382747
-1    111274
dtype: int64

In [44]:
y.value_counts()

1    396743
0     97278
Name: 41, dtype: int64

In [72]:
#把-1改成0 1改成1
y_pred=pd.Series(list(map(lambda x:1 if x==0 else 1,y_pred)))

In [73]:
# 解决y_pred和y的索引不一致的问题
y_pred.index=range(y_pred.shape[0])

In [74]:
# 解决下面报错：Labels in y_true and y_pred should be of the same type. Got y_true=['0' '1'] and y_pred=[0 1]. Make sure that the predictions provided by the classifier coincides with the true labels.
y=y.astype('int')

In [75]:
# 计算错误率
import numpy as np

n_error=(y_pred!=y).sum()
print('Isolation Forest算法错误率：',n_error/len(y))

Isolation Forest算法错误率： 0.19691065764410826

In [76]:
# 评估模型性能
print(classification_report(y,y_pred))

/Users/mac/anaconda3/envs/python3.6环境/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/mac/anaconda3/envs/python3.6环境/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00     97278
           1       0.80      1.00      0.89    396743

    accuracy                           0.80    494021
   macro avg       0.40      0.50      0.45    494021
weighted avg       0.64      0.80      0.72    494021

/Users/mac/anaconda3/envs/python3.6环境/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
# 使用 Local Outlier Factor算法
from sklearn.neighbors import LocalOutlierFactor

# 训练模型
clf=LocalOutlierFactor(n_neighbors=20,contamination=0.1)
clf.fit(X)

In [ ]:
# 预测结果
y_pred=clf.fit_predict(X)
y_pred